<nav>
  <div>
    <ul>
    </ul>
  </div>
</nav>



        <div>
            <main>

                <div class="sectioN">
                    <section>

                        <div class="navBarW">
                            <nav class="navBar"><!-- here's the ALLL -->

                                <div class="navBarMo"><!-- First Partition (combination of ul N burger)-->
                                    <section>

                                        <input type="checkbox" id="nav-toggle" class="nav-toggle">
                                        <div class="navBurg">
                                            <label for="nav-toggle">
                                                <div class="navBurg_closer">
                                                    <div class="line1"></div>
                                                    <div class="line2"></div>
                                                    <div class="line3"></div>
                                                </div>
                                            </label>
                                        </div><!-- at Par-->
                                        <div class="navUl">
                                            <ul>
                                                <li> <a href="/routing/search">Home</a> </li>
                                                <li> <a href="/routing/about">About</a> </li>
                                                <li> <a href="/routing/contact">Contact</a> </li>
                                            </ul>
                                        </div>

                                    </section>
                                </div>

                                <div class="navBarMoT">
                                    <section>

                                        <!--<div>-->
                                            <img src="/images/L.png" alt="logo">
                                        <!--</div> If part-->
                                        <div>
                                            <p>MYCOCOAHOUSE</p>
                                            <p>Company Limited</p>
                                        </div>

                                    </section>
                                </div>

                                <div class="kontent"><!-- Third Partition (combination of )-->
                                    <section>

                                        <div class="kontentIn">
                                            <section>

                                                <form>
                                                    <div>
                                                        <input type="search" name="" class="search-bar__input search-bar__toggle" placeholder="enter Search">
                                                    </div>
                                                    <div>
                                                        <button type="submit" value="" class="search-bar__submit"> <img src="/images/S.png" alt="logo"> </button>
                                                    </div>
                                                </form>

                                            </section>
                                        </div>

                                    </section>
                                </div>

                            </nav>
                        </div>
                        
                    </section> <!-- corres SectioN -->
                </div>                           

            </main>
        </div>