<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs") %>
</head>
<body>

	<%- include ("../partials/nav.ejs") %>

<div>
    <main>

        <div class="sectioN">
            <section>

                        <div class="heroAbout">
                            <section><!-- here's the ALLL -->
                
                                <div>
                                    <section>
                                        <div>
                                            <header>
                                                <h1>Company Profile</h1>
                                            </header>
                                        </div>
                                    </section>
                                </div>
                                
                            </section>
                        </div>
                
                        <div>
                            <section class="aside1About grid">
                
                                <div class="OurStory">
                                    <section>
                                        <div>
                                            <header>
                                                <h1>Our Story</h1>
                                                <h2>About Us</h2>
                                            </header>
                                        </div>
                                        <p>
                                            Incorporated in the year 2000, MYCOCOAHOUSE Limited is one of the leading agro processors in Ghana. We produce and export high quality cocoa beans, by using cocoa research method to ferment it. The next stage is to dry it to prevent it from spoiling and also keeping it for long period of time.
                                        </p>
                                        <p>
                                            We started operations as a premier commodity trader in cocoa. Eventually exporting an estimated amount of 50,000 tons of cocoa beans per annum to US, UK, Europe, Japan and China.
                                        </p>
                                        <p>
                                            Our high-tech infrastructure including a state-of-the-art solvent extracting oil mill and refinery plant, is controlled by our efficient team of professionals,who have in-depth knowlege in their respective fields.Every process of production is carefully inspected as per the set standards to produce the highest quality products.
                                        </p>
                                    </section>
                                </div>
                                <div>
                                    <section>
                                        <img src="/images/learnMoreImg/myworkers.jpg">
                                    </section>
                                </div>

                            </section>
                        </div>

                        <div class="aside2About">
                            <section>
                                <div>
                                    <section>

                                        <div class="">
                                            <section class="gridObj">

                                                <div class="Obj">
                                                    <section>
                                                        <div> <img src=""> </div>
                                                        <div>
                                                            <header>
                                                                <h1>Our Vision</h1>
                                                            </header>
                                                        </div>
                                                        <p>
                                                            Our vision is to become the agro processing center of excellence within the sub-region. We hold the future needs of our customers very dear. They are as important to us as their everyday requirements, so we constantly strive to improve our quality and customize our products and our services.
                                                        </p>
                                                    </section>
                                                </div>
                                                <div class="Obj">
                                                    <section>
                                                        <div> <img src=""> </div>
                                                        <div>
                                                            <header>
                                                                <h1>Our Mission</h1>
                                                            </header>
                                                        </div>
                                                        <p>
                                                            Our mission is to become number one Cocoa beans and its Oil Company in the sub-region. With a strong drive for excellence, setting aggressive goals, empowering individuals to make decisions, seeing efficiency and innovation and viewing change as an opportunity.
                                                        </p>
                                                    </section>
                                                </div>
                                                <div class="Obj">
                                                    <section>
                                                        <div> <img src=""> </div>
                                                        <div>
                                                            <header>
                                                                <h1>Innovation</h1>
                                                            </header>
                                                        </div>
                                                        <p>
                                                            Recognizing innovation and adaption to change are key features of our marketing programmes. This approach enables us to serve our customers more efficiently, as the approach takes advantage of improvement in product quality and production process changes.
                                                        </p>
                                                    </section>
                                                </div>
                                                
                                            </section>
                                        </div>
                                        
                                    </section>
                                </div>
                            </section>
                        </div>

                        <div class="aside3About">
                            <section>

                                <div class="">
                                    <section class="gridContact">
                                        <div class="asise3Sub">
                                            <section>
                                                <div>
                                                    <header>
                                                        <h2> Call Us</h2>
                                                    </header>
                                                </div>
                                                <p>
                                                    +233 (0) 2004 69213
                                                </p>
                                            </section>
                                        </div>
                                        <div class="asise3Sub">
                                            <section>
                                                <div>
                                                    <header>
                                                        <h2>Email Us</h2>
                                                    </header>
                                                </div>
                                                <p>
                                                    info@mycocoahouse.com
                                                </p>
                                            </section>
                                        </div>
                                    </section>
                                </div>
                                
                            </section>
                        </div>

                <footer class="">
                    <div class="">

                        <div class="fooPart1">
                            <p>MYCOCOAHOUSE</p>
                            <p>Company Limited</p>
                            <p>Business Development Office</p>
                            <p>Kumasi - Ashanti Region</p>
                            <p>Contanct Us: info@mycocoahouse.com</p>
                        </div>

                        <div class="fooPart2">
                            <ul class="fooPart2Meaz">
                                <li>  </li>
                                <li> <a href="/routing/search">Home</a> </li>
                                <li> <a href="">AboutUs</a> </li>
                                <!--<li>Products</li>-->
                                <!--<li>Our Stories</li>-->
                                <!--<li>Faqs</li>-->
                                <!--<li>Downloads</li>-->
                                <li> <a href="/routing/contact">Contact</a> </li>
                            </ul>
                        </div>
                         <p class="fooPara">Copyright &copy 2020 MYCOCOAHOUSE Company Limited</p> 
                    </div>
                </footer>                                        

            </section>
        </div>

    </main>
</div>	

</body>
</html>