<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs") %>
</head>
<body>

	<%- include ("../partials/nav.ejs") %>

<div>
    <main>

        <div class="sectioN">
            <section>

                <div class="section heroBe">
                    <section>

                        <div>
                            <header class="heroHeda">
                                <h1 id="hedaCala">Cocoa Beans</h1>
                            </header>
                        </div>

                    </section>
                </div>

                <div class="aside1Be">
                    <section class="gridBe">

                        <div>
                            <section>
                                <div>
                                    <header>
                                        <h1>Our farm</h1>
                                    </header>
                                </div>
                                <p>
                                    Our farm is 1.5 acres of land the place we plant, grow and  harvest our cocoa pods when ripe. The pod contains 20 to 60 seeds, which we called "beans", embedded in a white pulp.
                                    A tree begins to bear when it is four or five years old .
                                </p>
                            </section>
                        </div>
                        <div>
                            <section>
                                <img src="/images/productLernMbe/cocoaTree.jpg">
                            </section>
                        </div>

                    </section>
                </div> 

                <div>
                    <section>

                        <div>
                            <section class="gridBe2">

                                <div>
                                    <section>
                                        <img src="/images/productLernMbe/cocoaTree.jpg">
                                    </section>
                                </div>
                                <div>
                                    <section>
                                        <div>
                                            <header>
                                                <h1>PROCESSING THE POD FOR THE BEANS.</h1>
                                            </header>
                                        </div>
                                        <p>
                                            General Description: The cocoa fruits are plug from the tree. The pod are been open and the seeds is collected from the pod. We do this by the effort of our very dear workers. After the seeds is collected it is then carefully move through scientific process of fermentation. Ultimately been dry for package in sacks.
                                        </p>
                                    </section>
                                </div>

                            </section>
                        </div>

                    </section>
                </div>

                <div>
                    <section class="gridBe3">

                        <div>
                            <section>
                                <div>
                                    <header>
                                        <h1>Cocoa Beans</h1>
                                    </header>
                                </div>
                                <p>
                                    Cocoa beans is obtain from the fruit of cocoa tree (Theobroma cacao). The tree is a small tall evergreen plant. Its beans are used to make a lot of beverages such as chocolate liquor, cocoa solids, cocoa butter and chocolate.
                                </p>
                            </section>
                        </div>
                        <div>
                            <section>
                                <img src="/images/productLernMbe/beans.jpg">
                            </section>
                        </div>

                    </section>
                </div>

                <footer class="">
                    <div class="">

                        <div class="fooPart1">
                            <p>MYCOCOAHOUSE</p>
                            <p>Company Limited</p>
                            <p>Business Development Office</p>
                            <p>Kumasi - Ashanti Region</p>
                            <p>Contanct Us: info@mycocoahouse.com</p>
                        </div>

                        <div class="fooPart2">
                            <ul class="fooPart2Meaz">
                                <li>  </li>
                                <li> <a href="/routing/search">Home</a> </li>
                                <li> <a href="">AboutUs</a> </li>
                                <!--<li>Products</li>-->
                                <!--<li>Our Stories</li>-->
                                <!--<li>Faqs</li>-->
                                <!--<li>Downloads</li>-->
                                <li> <a href="/routing/contact">Contact</a> </li>
                            </ul>
                        </div>
                         <p class="fooPara">Copyright &copy 2020 MYCOCOAHOUSE Company Limited</p> 
                    </div>
                </footer>                                                                               

            </section>
        </div>

    </main>
</div>	


</body>
</html>