<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs") %>
	
	window.onload = geolocationFxn;

function geolocationFxn(){
    //
    if('geolocation' in navigator) {
    console.log('geolocation available');
    navigator.geolocation.getCurrentPosition( async position => {
        const lat = position.coords.latitude;
        const lon = position.coords.longitude;
        //document.querySelector('#').textContent = lat;
        //document.querySelector('#').textContent = lon;
        console.log(position)

        const data = { lat, lon};
        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };
        await fetch('/api', options);
    })
} else {
    console.log('geolocation not available')
}
}

</head>
<body>

	<%- include ("../partials/nav.ejs") %>

        <div>
            <main>

                <div>
                    <section>

                        <div>
                            <section class="formOuter"><!--INITIAL DIV-->
                                <div>
                                    <section class=" gridForm"><!--LATER DIV-->
                                        <div>
                                            <header>
                                                <h1>Send Us a message</h1>
                                                <h2>Response Assured</h2>
                                            </header>
                                        </div>
                                        <form class="formSec" action="/contact" method="POST">

                                            <div>
                                                <label for="name">Your Name</label>
                                                <input type="text" name="name" placeholder="Name" class="mgName">
                                            </div>
                                            <div>
                                                <label for="companyName">Company Name</label>
                                                <input type="text" name="companyName" placeholder="Company Name" class="mgComp">
                                            </div>
                                            <div>
                                                <label for="email"> Email Address</label>
                                                <input type="email" name="contact_email" placeholder="Email" class="mgEmail">
                                            </div>
                                            <div>
                                                <label for="Message">Message Us</label>
                                                <textarea type="message" name="message" placeholder="Message" class="mgMes"></textarea>
                                            </div>
                                            <div class="mgbtn">
                                                <input type="submit" name="" value="send" class="btn btn-primary btn-text">
                                            </div>
                                            
                                        </form>
                                    </section>
                                </div>
                            </section>
                        </div>

                         
                        
                    </section>
                </div>                

            </main>
        </div>	

</body>
</html>
