<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs") %>
</head>
<body>

	<%- include ("../partials/nav.ejs") %>

<div>
    <main>

        <div class="sectioN">
            <section>

                <div class="section heroCorp">
                    <section>

                        <div>
                            <header class="heroHeda">
                                <h1 id="hedaCala">Corporate Social Responsibility</h1>
                            </header>
                        </div>
                        
                    </section>
                </div>

                <div class="aside0Corp">
                    <section>

                        <div>
                            <header>
                                <h1>Our Social Responsibilities</h1>
                            </header>
                        </div>
                        <p>
                            MYCOCOAHOUSE aspires to have in all its endeavors, a positive impact on not only the environment, but in the lives of the people from the surrounding communities.
                        </p>
                        
                    </section>
                </div>

                <div class="aside1">
                    <section class="gridEnv">

                        <div>
                            <section>
                                <div>
                                    <header>
                                        <h1>The Environment</h1>
                                    </header>
                                </div>
                                <p>
                                    We take responsibility for how our business may impact the environment through our raw material procurement procedures, the way we manufacture our products, to how consumers use our products( core and by-products). We strongly believe that if rural folks are able to make a living out of the cocoa beans, then they will be the first people to protect the trees, thereby ensuring sustainability and avoiding deforestation.
                                </p>
                            </section>
                        </div>
                        <div>
                            <section>
                                <img src="/images/corpLearnMImg/cocoa.jpg" >
                            </section>
                        </div>
                        
                    </section>
                </div>

                <div class="aside2">
                    <section class="">

                        <div>
                            <section class="gridBus">

                                <div>
                                    <section>
                                        <img src="/images/corpLearnMImg/bizEtics.jpg">
                                    </section>
                                </div>
                                <div>
                                    <section>
                                        <div>
                                            <header>
                                                <h1>Business Ethics</h1>
                                            </header>
                                        </div>
                                        <p>
                                            We believe that we are responsible for creating a business environment that is open, honest and fair, showing respect and integrity in our dealings with our stakeholders(employees, suppliers, customers, business partners and regulatory authorities). We do this through the effective communication of our ethical standards to all stakeholders. We have an elaborate policy on supplier selectionas well as an anti-bribery corruption policy.
                                        </p>
                                    </section>
                                </div>

                            </section>
                        </div>

                    </section>
                </div>

                <div class="aside3">
                    <section class="gridSaf">

                        <div>
                            <section>
                                <div>
                                    <header>
                                        <h1>Health and Safety</h1>
                                    </header>
                                </div>
                                <p>
                                    Our business dealings take us across a diverse cultural network in several geographical locations aroung the globe and we are committed to developing the highest standards of occupational health and safety as our peers. We seek to provide a safe working environment always for all our employees, our contractors, our visitors and all our stakeholders. We work towards ensuring complieance with all relevant health and safety laws and regulations at all our places of operation. We provide adequate PPEs for every individual who enters our premises.
                                </p>
                            </section>
                        </div>
                        <div>
                            <section>
                                <img src="/images/corpLearnMImg/myworkers.jpg" >
                            </section>
                        </div>
                        
                    </section>
                </div>

                <div class="aside4">
                    <section class="">

                        <div>
                            <section class="gridChar">

                                <div>
                                    <section>
                                        <img src="/images/corpLearnMImg/charity1.jpg">
                                    </section>
                                </div>
                                <div>
                                    <section>
                                        <div>
                                            <header>
                                                <h1>Charity in Local Communities</h1>
                                            </header>
                                        </div>
                                        <p>
                                            Our business dealings take us across a diverse cultural network in several geographical locations around the globe and we are committed to developing the highest standards of occupational health and safety as our peers. We seek to provide a safe working environment always for all our employees, our contractors, our visitors and all our stakeholdllers. We work towards ensuring compliance with all relevant health and safety laws and regualtions at all our places of operation. We provide adequate PPEs for every individual who enters our premises.
                                        </p>
                                    </section>
                                </div>

                            </section>
                        </div>

                    </section>
                </div>

                <footer class="">
                    <div class="">

                        <div class="fooPart1">
                            <p>MYCOCOAHOUSE</p>
                            <p>Company Limited</p>
                            <p>Business Development Office</p>
                            <p>Kumasi - Ashanti Region</p>
                            <p>Contanct Us: info@mycocoahouse.com</p>
                        </div>

                        <div class="fooPart2">
                            <ul class="fooPart2Meaz">
                                <li>  </li>
                                <li> <a href="/routing/search">Home</a> </li>
                                <li> <a href="">AboutUs</a> </li>
                                <!--<li>Products</li>-->
                                <!--<li>Our Stories</li>-->
                                <!--<li>Faqs</li>-->
                                <!--<li>Downloads</li>-->
                                <li> <a href="/routing/contact">Contact</a> </li>
                            </ul>
                        </div>
                         <p class="fooPara">Copyright &copy 2020 MYCOCOAHOUSE Company Limited</p> 
                    </div>
                </footer>                                 

            </section>
        </div>

    </main>
</div>


</body>
</html>