<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs") %>
</head>
<body>

	<%- include ("../partials/nav.ejs") %>

<div>
    <main>

        <div>
            <section class="sectioN">

                <div class="section heroBut">
                    <section>

                        <div>
                            <header class="heroHeda">
                                <h1 id="hedaCala">Cocoa Butter Cream</h1>
                            </header>
                        </div>

                    </section>
                </div>

                <div>
                    <section class="gridBat">

                        <div>
                            <section>
                                <div>
                                    <header>
                                        <h1>Our Cocoa Butter Cream</h1>
                                    </header>
                                </div>
                                <p>
                                    The Cocoa butter oil is gotten from initially extracting a vegetable oil from the seeds of the cocoa beans. It is one of the most widely used oils in cosmetics and pharmaceuticals for production of beauty products.
                                </p>
                            </section>
                        </div>
                        <div>
                            <section>
                                <img src="/images/productLernMpr/cocoa-product-Re-used.jpg">
                            </section>
                        </div>

                    </section>
                </div>

                <div>
                    <section>

                        <div>
                            <section class="gridBat2">

                                <div>
                                    <section>
                                        <img src="/images/productLernMpr/myworkers.jpg">
                                    </section>
                                </div>
                                <div>
                                    <section>
                                        <div>
                                            <header>
                                                <h1>How we do it</h1>
                                            </header>
                                        </div>
                                        <p>
                                            To produce cocoa butter or oil , the beans or seeds are cracked, adjusted for moisture content, heated and rolled into flakes, and solvent-extracted. The oil is then refined, blended for different application and sometimes hydrogenated. Cocoa butter oil, both liquid and partially hydrogenated, are exported abroad. It may end up in production of cosmetics or comsumable oil production.
                                        </p>
                                    </section>
                                </div>

                            </section>
                        </div>

                    </section>
                </div>

                <div>
                    <section class="gridBat3">

                        <div>
                            <section>
                                <div>
                                    <header>
                                        <h1>Facts</h1>
                                    </header>
                                </div>
                                <p>
                                    In the 2002-2003 growing season, 30.6 million tons of cocoa butter were produced worldwide, constituting about half of worldwide edible vegetable oil production, and thirty percent of all fats and oil produced. 100g of cocoa butter oil produced has 60g Saturated fat, 3g Polyunsaturated fat and 33g Monounsaturated fat. (Sources include: USDA).
                                </p>
                            </section>
                        </div>
                        <div>
                            <section>
                                <div>
                                    <header>
                                        <h1></h1>
                                        <h2></h2>
                                    </header>
                                </div>
                                <p>
                                    <li>Fat 100g  is equivalent to 153% </li>
                                </p>
                            </section>
                        </div>

                    </section>
                </div>

            </section>
        </div>

    </main>
</div>	

</body>
</html>