<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %> <%# <h1> Navigation here designing it other page</h1>  #%>

  <%# Here is comment TAG(//) #%>

<div>
    <main>

        <div>
            <section>

                <div class="section hero">
                    <section>

                        <div>
                            <header class="heroHeda">
                                <h1 id="hedaCala">Welcome to</h1>
                                <h2><span id="" class="zpan">MYCOCOAHOUSE</span> Company Limited</h2><!--spanCala-->
                            </header>
                        </div>
                        <p>
                            MYCOCOAHOUSE Ghana Company Limited has over the years, become a major player in the cocoa industry.
                        </p>
                        <p>
                            We produce and export cocoa beans all over the world.
                        </p>
                        
                    </section>
                </div>

                <div class="aside1 section aside1_aboutUs">

                    <div class="zpan">
                        <h1> <span>About Us</span> </h1>
                    </div>

                    <div class="Grid">

                        <div class="Gridsub">
                            <div>
                                <h2>MYCOCOAHOUSE Company Limited </h2>
                            </div>
                            <div class="GridsubP">
                            <p>Incorporated in the year 2000, MYCOCOAHOUSE Limited is one of the leading agro processors in Ghana. We produce and export cocoa beans in the cocoa value chain.</p>
                            </div>
                        </div>
                        <div><!-- style="max-height: 100%;max-width: 100%; overflow-x: hidden;" -->
                             <img src="/images/opening-Pod.jpg" alt="aside-logo">  
                        </div>
                        

                    </div>
                    <div class="btn"> <a href="/routing/about" class=" btn-spekTo">Read More</a> </div> <!-- corres to indexin for Abt-->
                    
                </div>

                <div class="aside2 section">
                    <section>

                        <div class="zpan">
                            <header>
                                <h1> <span>Why Us</span> </h1>
                            </header>
                        </div>

                        <div class="whyGrid">

                            <div>
                                <img src="" alt=""> <!--<span></span> --> <h2>Quality Assured</h2>
                                <p>
                                    Quality for us, is not an act. It's in everytning we do. Its not only what we put into manufacturing that counts for us. What the customer gets out of it matters a lot.
                                </p>
                                <p>
                                    To beat competition, we make good quality our mission. Whatever the client's quality specifications are, we are willing and able to meet them.
                                </p>
                            </div>
                            <div>
                                <img src="" alt=""> <!--<span></span> --> <h2>Certified</h2>
                                <p>
                                    We have been recognize for what we do. We are Koshers and Halal certified. Being certified means the brand is trusted.
                                </p>
                            </div>
                            <div>
                                <img src="" alt=""> <!--<span></span> --> <h2>20 Years Experience</h2>
                                <p>
                                    They say " Experience is the best teacher". We have over 20 years of experience in the commodity trading and manufacturing.
                                </p>
                            </div>
                            <div>
                                <img src="" alt=""> <!--<span></span> --> <h2>Always Deliver</h2>
                                <p>
                                    Our team is highly professional and dedicated. We give our clients on time delivery, consistent with high quality products with every order. Yours is to order. Ours is to make it beyond your expectations.
                                </p>
                            </div>

                        </div>
                        
                    </section>
                </div>

                <div class="section aside3">
                    <section>

                        <div class="corp">
                            <section>

                                <div class="zpan">
                                    <header>
                                        <h1> <span> CORPORATE SOCIAL RESPONSIBILITY </span> </h1>
                                        <span style="margin: 5px; background-color: fuchsia;"></span>
                                    </header>
                                </div>
                                <p>
                                    MYCOCOAHOUSE aspires to have in all its endeavores, a positive impact on not only the environment, but in the lives of the people from the surrounding communities.
                                </p>
                                <div class="btn btn-corp"> <a href="/routing/corp">Learn More</a> </div>

                            </section>
                        </div>

                    </section>
                </div>

                <div class="product section aside4">
                    <section>

                        <div class="zpan">
                            <header>
                                <h1> <span>Products</span></h1>
                            </header>
                        </div>

                        <div>
                            <section class="productGrid">

                                <div>
                                    <div>
                                        <div class=""> <img src="/images/cocoa-product-edit.jpg" class="magiAuto"> </div>
                                        <div>
                                            <header>
                                                <h2>Cocoa Butter Cream</h2>
                                            </header>
                                        </div>
                                        <p class="texCent">
                                            Cocoa beans oil is a vegetable oil extracted from the seeds of th cocoa bean (Theobroma cacao)
                                        </p>
                                        <div class="btn"> <a href="/routing/butter" class="btn">Learn More</a> </div>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div class="magiAuto"> <img src="/images/beans-product-edit.jpg" > </div>
                                        <div>
                                            <header>
                                                <h2>Cocoa Beans</h2>
                                            </header>
                                        </div>
                                        <p class="texCent"> The cocoa beans is obtained from the cocoa pods, by spliting it open and taking it out of the pod. </p>
                                        <div class="btn"> <a href="/routing/beans">Learn More</a> </div>
                                    </div>
                                </div>
                                <div>
                                    <div>
                                        <div class="imgSize magiAuto"> <img src="/images/cocoa-butter-edit.jpg" style="max-width: 100%;"> </div>
                                        <div>
                                            <header>
                                                <h2>Cocoa Butter</h2>
                                            </header>
                                        </div>
                                        <p class="texCent"> Cocoa Butter is a natural fat from the seeds of a cocoa tree. </p>
                                        <div class="btn"> <a href="" class="btn">Learn More</a> </div>
                                    </div>
                                </div>

                            </section>
                        </div>

                    </section>
                </div>

                <footer class="">
                    <div class="">

                        <div class="fooPart1">
                            <p>MYCOCOAHOUSE</p>
                            <p>Company Limited</p>
                            <p>Business Development Office</p>
                            <p>Kumasi - Ashanti Region</p>
                            <p>Contanct Us: info@mycocoahouse.com</p>
                        </div>

                        <div class="fooPart2">
                            <ul class="fooPart2Meaz">
                                <li>  </li>
                                <li> <a href="/routing/search">Home</a> </li>
                                <li> <a href="">AboutUs</a> </li>
                                <!--<li>Products</li>-->
                                <!--<li>Our Stories</li>-->
                                <!--<li>Faqs</li>-->
                                <!--<li>Downloads</li>-->
                                <li> <a href="/routing/contact">Contact</a> </li>
                            </ul>
                        </div>
                         <p class="fooPara">Copyright &copy 2020 MYCOCOAHOUSE Company Limited</p> 
                    </div>
                </footer>                

            </section>
        </div>

    </main>
</div>


</body>
</html>
